.navbar {
  display: flex;
  width: 100vw;
  position: fixed;
  padding: 0px 70px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease-in-out;
}

.scroll {
  background-color: rgb(243 240 243 / 51%);
}

.navbar-links {
  list-style-type: none;
  display: flex;
}
.navbar-links li a {
  display: block;
  padding: 20px 20px;
  font-weight: 700;
  transition: 0.4s all;
  font-size: 1.1em !important;
  font-family: "Oswald", sans-serif;
  color: navy !important;
  letter-spacing: 2px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  padding: 20px 30px;
  margin: 3px;
  border: 2px solid rgba(0, 0, 128, 0);
}

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.856);
  box-shadow: 0px 10px 10px 3px rgba(228, 227, 227, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}
.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-dropdown a:hover {
  transition: 0.3s;
  border: 2px solid navy;
}
.navbar-dropdown .dropdown a:hover {
  transition: 0.3s;
  border: 2px solid navy;
}

/* Shop Page CSS */

.productCard {
  cursor: pointer;
}
.productCard p {
  margin-bottom: 0;
}
.img {
  width: 100%;
  height: 450px;
}
.cardTitle {
  margin-top: 20px;
}
.newPrice {
  color: red;
  padding: 0;
}
.oldPrice {
  text-decoration: line-through;
  color: gray;
}

/* Look Book  */

.lookBookCard {
  padding-top: 0px;
  padding-right: 3.5vw;
  padding-bottom: 1rem;
}

.lookBookCard:hover {
  cursor: pointer;
  text-decoration: underline;
}

.lookBookImg {
  width: 100%;
  height: 100%;
}

/* Image View Page  */

.imageView {
  width: 100%;
  /* height: 46.875rem; */
}

.description {
  margin-left: 100px;
}

.description h5 {
  margin-top: 20px;
}

.description p {
  margin-top: 20px;
}